Files/PowerShell Modules/PowerSTIG/StigData/Schema/PowerStig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DISASTIG">
    <xs:complexType>
      <xs:all>
        <xs:element name="AccountPolicyRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="PolicyName" type="xs:string" />
                    <xs:element name="PolicyValue" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="AuditPolicyRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="AuditFlag" type="xs:string" />
                    <xs:element name="Ensure" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="Subcategory" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="DnsServerRootHintRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="HostName" type="xs:string" />
                    <xs:element name="IpAddress" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="DnsServerSettingRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="PropertyName" type="xs:string" />
                    <xs:element name="PropertyValue" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="IisLoggingRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="LogCustomFieldEntry" />
                    <xs:element name="LogFlags" type="xs:string" />
                    <xs:element name="LogFormat" type="xs:string" />
                    <xs:element name="LogPeriod" type="xs:string" />
                    <xs:element name="LogTargetW3C" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ManualRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="MimeTypeRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Ensure" type="xs:string" />
                    <xs:element name="Extension" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="MimeType" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="PermissionRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="AccessControlEntry" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="Path" type="xs:string" />
                    <xs:element name="Force" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="RegistryRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Ensure" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="Key" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="ValueData" type="xs:string" />
                    <xs:element name="ValueName" type="xs:string" />
                    <xs:element name="ValueType" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SecurityOptionRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="OptionName" type="xs:string" />
                    <xs:element name="OptionValue" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ServiceRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Ensure" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="ServiceName" type="xs:string" />
                    <xs:element name="ServiceState" type="xs:string" />
                    <xs:element name="StartupType" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SqlScriptQueryRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="GetScript" type="xs:string"/>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="SetScript" type="xs:string" />
                    <xs:element name="TestScript" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SslSettingsRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Value" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="UserRightRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Constant" type="xs:string" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="Force" type="xs:string" />
                    <xs:element name="Identity" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="WebAppPoolRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="Key" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="Value" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="WebConfigurationPropertyRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="ConfigSection" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="Key" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="Value" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="WindowsFeatureRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="FeatureName" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="InstallState" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="WinEventLogRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsEnabled" type="xs:string" />
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="LogName" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="WmiRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="IsNullOrEmpty" type="xs:string" />
                    <xs:element name="Operator" type="xs:string" />
                    <xs:element name="OrganizationValueRequired" type="xs:string" />
                    <xs:element name="OrganizationValueTestString" type="xs:string" />
                    <xs:element name="Property" type="xs:string" />
                    <xs:element name="RawString" type="xs:string" />
                    <xs:element name="Value" type="xs:string" />
                    <xs:element name="Query" type="xs:string" />
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="dscresource" type="xs:string" use="required" />
                  <xs:attribute name="severity" type="xs:string" use="required" />
                  <xs:attribute name="conversionstatus" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="dscresourcemodule" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SkipRule" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" maxOccurs="unbounded" minOccurs="0">
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="created" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganizationalSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrganizationalSetting" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="Value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
